$red: #EA5455;
$primary: #29ac8d;

.custom-btn-clear {
  height: 36px !important;
  margin-top: 25px !important;
  padding-top: 8px !important;
  background-color: transparent !important;
  color: $red !important;
  border: none !important;
}

.custom-btn {
  height: 36px !important;
  margin-top: 25px !important;
  //padding-top: 8px !important;
}

.label-advanced {
  margin-top: 25px;
  font-weight: 500;
  color: $primary;
  cursor: pointer;
}

.ant-picker{
  border-radius: 4px;
  display: inline-flex !important;
}
