$light-grey: #B9B9C3;

.pagination-details {
  margin-top: -20px !important;
}

.hr {
  height: 1px;
  width: 100%;
  background-color: #E0E0E0;
}

.pagination-row {
  width: 100%;

  .pagination-left {
    margin-top: 18px;

    .pagination-details {
      margin-top: 30px;
      padding: 0 0 0 20px;
      color: $light-grey;
    }
  }
}
.pagination {
  &.react-paginate {
    .page-link {
      transition: all 0.05s ease-in-out;
    }

    .page-item.prev,
    .page-item.next {
      a.page-link:before,
      a.page-link:after {
        height: 16.83px;
        margin-top: 1px;
      }
    }
    &.pagination-sm {
      .page-item.prev,
      .page-item.next {
        a.page-link:before,
        a.page-link:after {
          height: 14.5px;
        }
      }
    }
    &.pagination-lg {
      .page-item.prev,
      .page-item.next {
        a.page-link:before,
        a.page-link:after {
          height: 19.5px;
        }
      }
    }
  }

  &.no-navigation {
    li:first-of-type,
    li:last-of-type {
      display: none;
    }
  }
}

.react-dataTable .react-paginate.separated-pagination .page-item:first-child .page-link, [dir] .react-dataTable .react-paginate.separated-pagination .page-item:last-child .page-link {
  border-radius: 50%;
}
.pagination.pagination-sm .page-item .page-link {
  font-size: .857rem;
  min-width: 2rem;
}
.page-item.disabled .page-link {
  background-color: #f3f2f7;
  border-color: #dae1e7;
}
.page-item.disabled .page-link {
  color: #b9b9c3;
}
.page-item .page-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-item.prev-item.disabled .page-link:before {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 14px;
  color: #6e6b7b;
  width: 8px;
  height: 22px;
  content: "";
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23b9b9c3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-left'%3E%3Cpath d='M15 18l-6-6 6-6'/%3E%3C/svg%3E");
}
.pagination {
  margin-top: 1rem;
}
.pe-1 {
  padding-right: 1rem!important;
}
.page-item.prev-item~.page-item:nth-child(2) {
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
}
.page-item.active {
  background-color: #f3f2f7;
  border-radius: 0;
}
.page-item.active .page-link {
  border-radius: 5rem;
  background-color: #29ac8d;
}
.page-item.active .page-link {
  z-index: 3;
  color: #fff!important;
  font-weight: 600;
}
.prev-item{
  margin-right: 10px !important;
}
.next-item{
  margin-left: 10px !important;
}
.page-item.next-item .page-link:after{
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%236e6b7b' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-right'%3E%3Cpath d='M9 18l6-6-6-6'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 14px;
  width: 8px;
  height: 22px;
  content: "";
}
