@import "@coreui/coreui/scss/coreui";

h1, h2, h3, h4, h5, h6, p{
  font-family: Montserrat;
}

.loadingEffect-inner {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999999999;
  background-color: rgba(0, 0, 0, 0.43);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  .loadingEffectSpinner {
    border: 3px solid #fff;
    border-radius: 50%;
    border-top: 3px solid #176250;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}
.sidebar.sidebar-fixed{
  background-color: white;
}

.sidebar-brand{
  background: none;
}

.sidebar-nav .nav-link.active {
  color: white !important;
  background: linear-gradient(118deg,#29ac8d,rgba(41,172,141,.7));
  box-shadow: 0 0 10px 1px rgb(41 172 141 / 70%);
  border-radius: 4px;
  margin: 0 15px;
  font-weight: 400;
}

.sidebar-nav .nav-icon.active:first-child{
  color: white !important;
}

.header.header-sticky{
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  margin: 1.3rem auto 0;
  border-radius: 0.428rem;
  width: 95%;
}

.header .container-fluid:first-child {
  display: flex;
  justify-content: flex-end;
}

.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container{
  max-width: 100%;
  width: 100%;
}

.card .card-header {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.border-bottom {
  border-bottom: 1px solid #ebe9f1!important;
}

.card-header {
  padding: 1.5rem;
  margin-bottom: 0;
  background-color: white;
  border-bottom: 0 solid rgba(34,41,47,.125);
}

.heading {
  color: #6e6b7b!important;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.card .card-title {
  font-weight: 500;
  font-size: 1.285rem;
}

button{
  height: 35px;
  cursor: pointer;
}

.btn-primary {
  border-color: #29ac8d!important;
  background-color: #29ac8d!important;
  cursor: pointer;
  padding: 0rem 1rem;
  border-radius: 0.358rem;
  text-align: center;
}

.btn-outline-primary {
  border: 1px solid #29ac8d!important;
  color: #29ac8d!important;
  background-color: initial;
  cursor: pointer;
  padding: 0rem 1rem;
  border-radius: 0.358rem;
  text-align: center;
}

.form-label {
  font-size: .857rem;
  color: #5e5873;
  margin-bottom: 0.2857rem;
}
.form-control {
  padding: 0.571rem 1rem;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d8d6de;
  border-radius: 0.357rem;
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.45;
  color: #6e6b7b;
  -webkit-appearance: none;
  appearance: none;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.react-dataTable .rdt_TableHead .rdt_TableHeadRow {
  background-color: #f3f2f7;
  border-color: currentcolor #ebe9f1 #ebe9f1;
  border-top: 1px solid #ebe9f1;
}

.form-check-input {
  margin-top: 0.0825rem;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  border: 1px solid #d8d6de;
  width: 1.285rem;
  height: 1.285rem;
  vertical-align: top;
  -webkit-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}
.sidebar-nav .nav-link{
  color: black !important;
}

.sidebar-nav .nav-icon:first-child{
  color: black !important;
}
